[user]
  name = kkb
  email = kkbyu0@gmail.com
[core]
#  excludesfile = ~/.gitignore 
  autocrlf = input #CRLF自動変換
  editor = vim

[init]
	defaultBranch = master
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
