"
" .ideavimrc mac用
"

"数行余裕があるうちにスクロールするやつ
set scrolloff=5

"行番号のやつ
set number

"u の反対のやつ(redo)
nnoremap U <C-r>

"すごい動くやつ
nnoremap H 10h
nnoremap L 10l

nnoremap <S-Up>   10k
nnoremap <S-Down>   10j


"検索系
set hlsearch
set ignorecase smartcase

"分割窓の分割と移動
nnoremap <C-w>v :action MoveTabRight<CR>
nnoremap <c-l> <c-w>l
nnoremap <c-h> <c-w>h
nnoremap <c-j> :action ActivateTerminalToolWindow<CR>

"入力モードでのカーソル移動
inoremap <C-j> <Down>
inoremap <C-k> <Up>
inoremap <C-h> <Left>
inoremap <C-l> <Right>

"タブの移動
nnoremap <a-h> gT
nnoremap <a-l> gt
nnoremap <c-s-tab> gT
nnoremap <c-tab> gt

"キャメルケースで移動
nnoremap w [w
nnoremap b [b

"ハイライト消す
nnoremap <ESC><ESC> :nohl<CR>

