"
" .ideavimrc mac用
"

"数行余裕があるうちにスクロールするやつ
set scrolloff=5

"行番号のやつ
set number

"u の反対のやつ(redo)
nnoremap U <C-r>

"すごい動くやつ
nnoremap H 10h
"nnoremap J 10j 連結で使うから解放
"nnoremap K 10k
nnoremap L 10l

nnoremap <S-Up>   10k
nnoremap <S-Down>   10j

"ESCで日本語OFF
set noimdisable
set iminsert=0 imsearch=0
set noimcmdline
inoremap <silent> <ESC> <ESC>:set iminsert=0<CR>

"検索系
set hlsearch
set ignorecase smartcase

"分割窓の分割と移動
nnoremap <C-w>v :action MoveTabRight<CR>
nnoremap <c-l> <c-w>l
nnoremap <c-h> <c-w>h

"タブの移動
nnoremap <a-h> gT
nnoremap <a-l> gt
nnoremap <c-s-tab> gT
nnoremap <c-tab> gt

"キャメルケースで移動
nnoremap w [w
nnoremap b [b
